.navbar {
    background-color: #dd2509;
}
.navbar .navbar-brand {
    color: #fafdfd;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
    color: #f6f8f9;
}
.navbar .navbar-text {
    color: #fafdfd;
}
.navbar .navbar-nav .nav-link {
    color: #fafdfd;
    border-radius: .25rem;
    margin: 0 0.25em;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
    color: #f6f8f9;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
    color: #f6f8f9;
    background-color: #e75344;
}
.navbar .navbar-toggle {
    border-color: #e75344;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
    background-color: #e75344;
}
.navbar .navbar-toggle .navbar-toggler-icon {
    color: #fafdfd;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
    border-color: #fafdfd;
}
.navbar .navbar-link {
    color: #fafdfd;
}
.navbar .navbar-link:hover {
    color: #f6f8f9;
}

@media (max-width: 575px) {
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #fafdfd;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #f6f8f9;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #f6f8f9;
        background-color: #e75344;
    }
}

@media (max-width: 767px) {
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #fafdfd;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #f6f8f9;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #f6f8f9;
        background-color: #e75344;
    }
}

@media (max-width: 991px) {
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #fafdfd;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #f6f8f9;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #f6f8f9;
        background-color: #e75344;
    }
}

@media (max-width: 1199px) {
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #fafdfd;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #f6f8f9;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #f6f8f9;
        background-color: #e75344;
    }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #fafdfd;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #f6f8f9;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #f6f8f9;
    background-color: #e75344;
}